body {
        padding-top: 20px;
        padding-bottom: 40px;
        color: #444;
        background-image: url("../img/back1.jpg");
      }

      p {
        line-height: 1.5em;
        margin-bottom: 1.5em;
      }

      h1 {
        line-height: 1.1em;
      }

      canvas {
        -ms-touch-action: double-tap-zoom;
      }

      .container {
        max-width: 80em;
      }

      .container-fluid > hr {
        margin-bottom: 3em;
      }

      .badge {
        background-color: #dfdfdf;
        color: #999;
      }

      .sidebar-nav {
        padding: .75em 0;
      }

      .post-meta {
        color: #999;
        font-size: 0.9em;
      }
      
      p.post-meta {
        margin-bottom: 1.5em;
      }

      .tag-count {
        vertical-align: super;
      }
      
      #logo-panel {
        text-align: center;
      }
      
      #logo {
        margin-bottom: 2em;
      }

      #site-description {
        color: #999;
        font-weight: 300;
        font-size: 1.1em;
      }

      #site-description p {
        max-width: 12em;
      }

      #tags {
        margin-bottom: 2em;
        text-align: center;
      }

      #side {
        margin: 0em;
      }

      #side .nav-list {
        padding-left: 0em;
        padding-right: 0em;
      }

      #content {
        padding-left: 3em;
        padding-right: 3em;
        margin: 0em;
      }

      #side2 {
        margin: 0em;
      }
      #side2 .nav-list {
        padding-left: 0em;
        padding-right: 0em;
      }
      .ribbon:after, .ribbon:before {
          margin-top:0.5em;
          content: "";
          float:left;
          border:1.5em solid #fff;
      }
      .ribbon{
        -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;

      }
      .ribbon:after {
          border-right-color:transparent;
          -webkit-box-shadow: 0 8px 6px -6px black;
          -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
      }

      .ribbon:before {
          border-left-color:transparent;
          -webkit-box-shadow: 0 8px 6px -6px black;
          -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
      }
      .ribbon a:link, .ribbon a:visited { 
          color:#000;
          text-decoration:none;
          float:left;
          height:3.5em;
          overflow:hidden;
      }
      .ribbon span {
          background:#fff;
          display:inline-block;
          line-height:3em;
          padding:0 1em;
          margin-top:0.5em;
          position:relative;

          -webkit-transition: background-color 0.2s, margin-top 0.2s;  /* Saf3.2+, Chrome */
          -moz-transition: background-color 0.2s, margin-top 0.2s;  /* FF4+ */
          -ms-transition: background-color 0.2s, margin-top 0.2s;  /* IE10 */
          -o-transition: background-color 0.2s, margin-top 0.2s;  /* Opera 10.5+ */
          transition: background-color 0.2s, margin-top 0.2s;
      }

      .ribbon a:hover span {
          background:#FFD204;
          margin-top:0;
      }

      .ribbon span:before {
          content: "";
          position:absolute;
          top:3em;
          left:0;
          border-right:0.5em solid #9B8651;
          border-bottom:0.5em solid #fff;
      }

      .ribbon span:after {
          content: "";
          position:absolute;
          top:3em;
          right:0;
          border-left:0.5em solid #9B8651;
          border-bottom:0.5em solid #fff;
      }
      span{
        font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
      }
      #yo {
        font-family: Geneva, Tahoma, Verdana, sans-serif;
      }


.span8{
    background-color: white;
    }
    #tweets{
      width: 120px;
      height: 400px;
      top: 0;
      height: 100%;
      z-index:99;
    }
.span8
        {
            
            position:relative;
            -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
               -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        }
        .span8:before, .span8:after
        {
          content:"";
            position:absolute;
            z-index:-1;
            -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
            -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
            box-shadow:0 0 20px rgba(0,0,0,0.8);
            top:10px;
            bottom:10px;
            left:0;
            right:0;
            -moz-border-radius:100px / 10px;
            border-radius:100px / 10px;
        }
        .span8:after
        {
          right:10px;
            left:auto;
            -webkit-transform:skew(8deg) rotate(3deg);
               -moz-transform:skew(8deg) rotate(3deg);
                -ms-transform:skew(8deg) rotate(3deg);
                 -o-transform:skew(8deg) rotate(3deg);
                    transform:skew(8deg) rotate(3deg);
        } 






/*Small mobile view*/
@media screen and (max-width: 480px) {
  .ribbon>a:nth-child(1) {
    display: none !important;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
  .ribbon>a:nth-child(4){
    display: none !important;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
  .span2 {
    display: none !important;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
  #site-description{
    display: none !important;
  }
}

/*for tablet view*/
@media screen and (max-width: 960px) {
#logo{
    display: none !important;
  }
  .twitter-timeline{
    display: none !important;
  }
}